
#blog {
  & .heading {
    text-shadow: 5px 5px #558abb; 
    font-size: 3.2em;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
}

.content {
  max-width: 45ch;
}


.link:not(.nav-link) {
  text-decoration: undeline;
  font-size: 1.2em;
}
