

#blog {
  --title--mt: 0.8rem;
  --title--fs: 3.2em;
  --posts--height: 100%;
  --posts--width: 90%;
  --preview--link--fs: 1.6em;
  --preview--border: 4px double var(--clr--white--100);
  --preview--radius: 0.4rem;
  --preview--width: calc(var(--posts--width) / 3);
  --preview--mt: 0.8rem;
  @media(max-width: 600px ) {
    --title--fs: 2.4em;
  }
  display: flex;
  flex-direction: column;

  & #blog--title {
    color: var(--clr--white--100);
    margin-top: var(--title--mt);
    font-size: var(--title--fs);
  }

  & #blog--posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px double var(--clr--white--100);
    height: var(--posts--height);
    width: var(--posts--width);
  }
  & .preview {
   /**  margin-top: var(--preview--mt); **/``
    background-color: var(--clr--blue--100);
    border-radius: var(--preview--radius);
    border: var(--preview--border);
    width: var(--preview--width);
    display: flex;
    flex-direction: column;
    place-items: center;
    & .link {
      font-size: var(--preview--link--fs);
      text-decoration: none;

    }
}
}


