

#blog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  & #blog--title {
    color: var(--clr--white--100);
    margin-top: 1.2rem;
    font-size: 3.2em;
  }
  & #blog--posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px double var(--clr--white--100);
    width: 80%;
    height: 100%;
    margin-bottom: 0.5em;
    gap: 2rem;
  }
}

.preview {
  margin-top: 0.8rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  border: 4px double var(--clr--white--100);
  width: 30%;
  & .link {
    font-size: 1.6em;
  }
}
