#posts  {
  --posts-radius: 0.6rem;
  --posts-border: 6px double var(--bg-2);
  --posts-pad: 2em;
  --posts-gap: 2vh;
  --posts-mt: 0.5em;
  background-color: rgba(236, 236, 236, 0.95);
  border-radius: var(--posts-radius);
  flex-direction: column;
  border: var(--posts-border);
  gap: var(--posts-gap);
  margin-top: var(--posts-mt);
  padding: var(--posts-pad);
  & .card {
    --posts--card--bg: var(--bg-2);
    --posts--card--w: 20vw;
    background-color: var(--posts--card--bg);
    display: flex;
    place-items: center;
    border: 4px double gray;
    border-radius: 0.6rem;
    width: 33vw; 
  }
  & .link {
    font-size: 1.6em;
    font-family: Poppins;
  }
}

@media screen and (max-width < 720px) {
  #posts {
    .card {
      width: 60vw;
    }
    .link {
      font-size: 1.2em;
      min-width: 45ch;
    }
  }
}
