

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: none;
  overflow-y: auto;
}

body {
  background-color: var(--clr--rebecca--085);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  appearance: auto;
}

button {
  --btn-pad: 0.25rem;
  padding: var(--btn-pad);
}
