:root {
  font-family: var(--font-stack);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;  
}

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0; 
}


a {
  font-size: 1.4em;
}

button {
  transition: border-color 0.25s;
  border-radius: 0.4rem;
  font-size: 1.2rem;
}


