#navbar {

  border: 2px solid black;
}

.header {
  font-family: var(--font-pop);
  padding: 0.5em;
  padding-left: 2em;
  background-color: var(--clr--rebecca--100);
  & #header--text {
    color: white;
  }
}


#page { 
  display: flex;
  flex-direction: column;
  align-items: center;
   width: 100vw;
  height: 100vh;
  background-color: gray;
}
#nav--list {
  
  background-color: var(--clr--rebecca--100);
  display: flex;
  flex-direction: row;
  gap: 3vw;
  padding-left: 2em;
  & .link {
    color: var(--clr--white--100);
    text-decoration: none;
    font-size: 1.4em;
  }
}
