
#header {
  backgound: var(--clr--rebecca-100);
}

#navbar {
  border: 2px solid black;
}

#page { 
  display: flex;
  flex-direction: column;
  align-items: center;
   width: 100vw;
  height: 100vh;
  background-color: gray;
}
#nav--list {
  display: flex;
  flex-direction: row;
  gap: 4vw;
}
